<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Blood Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<style>
			.container-fluid{background-color:gainsboro;color:ghostwhite;width:100%;}
	        .container {
	            margin-top: 20px;
	        }
	        form {
	            display: flex;
	            gap: 10px;
	            flex-wrap: wrap;
	        }
	        table {
	            margin-top: 30px;
	        }
	        button.edit, button.delete {
	            padding: 5px 10px;
	            font-size: 0.9em;
	        }
	    </style>
</head>
<body>

<nav class="container-fluid">
    <ul>
        <li><strong>Blood Bank System</strong></li>
    </ul>
    <ul>
        <li><a href="/seekers">Seekers</a></li>
        <li><a href="/bloodbanks">Blood Banks</a></li>
        <li><a href="/bloodstocks">Blood Stock</a></li>
    </ul>
</nav>

<main class="container">
	<h3>Add New Blood Bank</h3>
	    <form th:action="@{/bloodbanks/add}" method="post">
	        <input type="text" name="name" placeholder="Blood Bank Name" required>
	        <input type="text" name="address" placeholder="Address" required>
	        <input type="text" name="city" placeholder="City" required>
	        <input type="tel" name="phone" placeholder="Phone" required>
	        <button type="submit">Add Blood Bank</button>
	    </form>
		<a href="/bloodbanks" role="button">Back to Blood Banks List</a>
 	     
</main>

</body>
</html>
