<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Stock Information</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<style>
			.container-fluid{background-color: gainsboro;color:ghostwhite;width:100%;}
	        .container {
	            margin-top: 20px;
	        }
	        form {
	            display: flex;
	            gap: 10px;
	            flex-wrap: wrap;
	        }
	        table {
	            margin-top: 30px;
	        }
	        button.edit, button.delete {
	            padding: 5px 10px;
	            font-size: 0.9em;
	        }
	    </style>
	
</head>
<body>

<nav class="container-fluid">
    <ul>
        <li><strong>Blood Bank System</strong></li>
    </ul>
    <ul>
        <li><a href="/seekers">Seekers</a></li>
        <li><a href="/bloodbanks">Blood Banks</a></li>
        <li><a href="/bloodstocks">Blood Stock</a></li>
    </ul>
</nav>

<main class="container">
   
	<h2>Blood Stock List</h2>
	<a href="/bloodstocks/add" role="button" class="button">Add New Blood Stock</a>
	    <table>
	        <thead>
	        <tr>
	            <th>ID</th>
	            <th>Blood Group</th>
	            <th>Quantity</th>
	            <th>Best Before</th>
	            <th>Status</th>
	            <th>City</th>
	            <th>Actions</th>
	        </tr>
	        </thead>
	        <tbody>
				
	        <tr th:each="bloodStock : ${bloodstocks}">
	            <td th:text="${bloodStock.id}"></td>
	            <td th:text="${bloodStock.bloodGroup}"></td>
	            <td th:text="${bloodStock.quantity}"></td>
	            <td th:text="${bloodStock.bestBefore}"></td>
	            <td th:text="${bloodStock.status}"></td>
	            <td th:text="${bloodStock.city}"></td>
				<td class="action-buttons">
	                <a th:href="@{/bloodstocks/edit/{id}(id=${bloodStock.id})}" class="edit" role="button">Edit</a>
	                <a th:href="@{/bloodstocks/delete/{id}(id=${bloodStock.id})}" class="delete" role="button" onclick="return confirm('Are you sure?')">Delete</a>
	            </td>
	        </tr>
	        </tbody>
	    </table>
</main>

</body>
</html>
