<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Seeker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<style>
			.container-fluid{width:100%;background-color: gainsboro;color:ghostwhite;}
			.container{width:80%}
		</style>
</head>
<body>

<nav class="container-fluid">
    <ul>
        <li><strong>Blood Bank System</strong></li>
    </ul>
    <ul>
        <li><a href="/seekers">Seekers</a></li>
        <li><a href="/bloodbanks">Blood Banks</a></li>
        <li><a href="/bloodstocks">Blood Stocks</a></li>
    </ul>
</nav>

<main class="container">
	<h3>Add New Seeker</h3>
		   <form th:action="@{/seekers/add}" method="post">
		       <input type="text" name="firstName" placeholder="First Name" required>
		       <input type="text" name="lastName" placeholder="Last Name" required>
		       <input type="number" name="age" placeholder="Age" min="18" required>
		       <input type="text" name="bloodGroup" placeholder="Blood Group" required>
		       <input type="tel" name="phone" placeholder="Phone" required>
		       <input type="email" name="email" placeholder="Email" required>
		       <button type="submit">Add Seeker</button>
		   </form>
		   <a href="/seekers" role="button">Back to Seekers List</a>
</main>

</body>
</html>
